@using Blazicons
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Puzzle-58</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Blazicon style="zoom:1.8;" Svg="FontAwesomeSolidIcon.House"></Blazicon>
                <span style="padding-left:8px;">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customerpage">
                <Blazicon style="zoom:1.8;" Svg="FontAwesomeSolidIcon.PersonChalkboard"></Blazicon>
                <span style="padding-left:8px;">Customer Page</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configpage">
                <Blazicon style="zoom:1.8;" Svg="FontAwesomeSolidIcon.Calculator"></Blazicon>
                <span style="padding-left:8px;">Config</span>
            </NavLink>
        </div>
    </nav>
</div>

