@page "/configpage"

@if (AppState.CurrentClient == Client.Generic)
{
    <Puzzle_58.Clients.Generic.ConfigGeneric />
}
else if (AppState.CurrentClient == Client.Acme)
{
    <Puzzle_58.Clients.Acme.ConfigAcme />
}
else if (AppState.CurrentClient == Client.Contoso)
{
    <Puzzle_58.Clients.Contoso.ConfigContoso />
}
else
{
    <h3>Unknown Client</h3>
}

@code {

    [CascadingParameter]
    public CascadingAppState AppState { get; set; }

}
