   @page "/customerpage"

   @if (AppState.CurrentClient == Client.Acme)
   {
       <Puzzle_58.Clients.Acme.Acme @ref="acmeComponent" />
   }
   else if (AppState.CurrentClient == Client.Contoso)
   {
       <Puzzle_58.Clients.Contoso.Contoso @ref="contosoComponent" />
   }
   else
   {
       <h3>Please select a client</h3>
   }

   @code {
       [Inject]
       public CascadingAppState AppState { get; set; }

       private Puzzle_58.Clients.Acme.Acme acmeComponent;
       private Puzzle_58.Clients.Contoso.Contoso contosoComponent;

       [Inject]
       public AcmeState AcmeState { get; set; }

       [Inject]
       public ContosoState ContosoState { get; set; }
   }
