@page "/"

<PageTitle>Home</PageTitle>

<h3>Choose the client:</h3>
<br />
<button class="btn btn-primary" @onclick="() => SetClient(Client.Acme)">Acme</button>
<button class="btn btn-primary" @onclick="() => SetClient(Client.Contoso)">Contoso</button>

<br />
<br />

<p style="font-size:x-large;font-weight:bold;">Selected Option: @Enum.GetName(AppState.CurrentClient)</p>

@code {
    [Inject]
    public CascadingAppState AppState { get; set; }

    public void SetClient(Client client)
    {
        AppState.CurrentClient = client;
    }
}
